extends layout
block content
 if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
  br
  a(href="/ping") Ping 
  br
  a(href="/winter/update") Update 
 if (user)
  p You are currently logged in as #{user.username}
  a(href="/winter") Take me to winter 
  br
  a(href="/logout") Logout